@model UserVoiceSystem.Web.ViewModels.Ideas.CommentViewModel

<div class="panel panel-default">
    <div class="panel-heading">@Model.EscapedEmail commented @Model.CreatedOn</div>
    <div class="panel-body">@Model.Content</div>
</div>

