@model IEnumerable<SocializR.Data.Models.Shout>
@{
    ViewBag.Title = "Profile";
}

<div class="text-center">
    <h2>Your shouts</h2>

    @foreach (var item in @Model)
    {
        <div class="panel panel-default col-md-3 clearfix">
            <div class="panel-heading">
                By @item.Author.ToString()
            </div>
            <div class="panel-body">
                @item.Content
            </div>
        </div>
    }
</div>
